:root {
    --dark-blue: hsl(240, 38%, 20%);
    --gray-blue: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, p {
    margin: 0;
}

body {
    font-size: 20px;
    font-weight: 300;
    color: var(--dark-blue);
    font-family: 'Inter', sans-serif;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

.portrait-section {
    background-image: url(images/pattern-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2rem;
    max-width: 705px;
    margin: 0 auto;
}

.portrait {
    max-width: 100%;
    border-radius: 4px;
}

button {
    position: relative;
    top: -1.5rem;
    background-color: white;
    border: none;
    border-radius: 50px;
    box-shadow: var(--gray-blue) -5px 5px 30px;
}

button img {
    padding: .7rem .8rem;
}

button:hover {
    background-color: var(--gray-blue);
}

.quote-section {
    background-image: url(images/pattern-quotes.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0 auto 1rem auto;
    max-width: 34ch;
    padding: 2rem 1rem 0 1rem;
}

.quote {
    padding-bottom: 1.5rem;
}

.quote-section span {
    display: block;
}

.name {
    font-weight: 700;
    font-size: .8rem;
}

.title {
    color: var(--gray-blue);
    font-size: .8rem;
}

.split {
    display: none;
    animation: fadein .5s;
}

.active {
    display: block;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

@media screen and (min-width: 60rem) {
    body {
        font-size: 32px;
        text-align: left;
    }

    .active {
        display: grid;
        grid-template-columns: 1fr .22fr .9fr;
    }

    .portrait-section {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    button {
        left: 4rem;
    }

    .quote-section {
        grid-column: 1 / span 2;
        grid-row: 1;
        align-self: center;
    }

    .quote-section span {
        display: inline;
        font-size: 1.2rem;
    }
}
